<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory suffix="Test.php">./test</directory>
            <!-- You can add more <directory> or <file> elements here -->
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./public/src</directory> <!-- Adjust if your source files are elsewhere -->
            <directory suffix=".php">./server</directory>   <!-- Include WebSocket server code -->
        </include>
    </coverage>
</phpunit>
