/* General styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

/* Root variables */
:root {
  --background-color: #f5f5f5;
  --text-color: #333;
  --primary-color: #3498db;
  --secondary-color: #2980b9;
  --accent-color: #00ffcc;
  --footer-bg-color: #061727;
}

/* Dark theme styles */
[data-theme=dark] {
  --background-color: #333;
  --text-color: #f5f5f5;
  --primary-color: #2980b9;
  --secondary-color: #3498db;
  --accent-color: #4fc08d;
  --footer-bg-color: #000;
}

/* Navigation styles */
nav {
  background-color: var(--primary-color);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: 0;
  width: 100%;
}
nav ul li {
  margin: 0 1rem;
  border-radius: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s;
  padding: 0.5rem 1rem;
  display: block;
  text-align: center;
}
nav ul li a:hover {
  color: var(--primary-color);
  background-color: #fff;
}
nav ul li a:active {
  color: white;
  background-color: var(--secondary-color);
}

/* General element styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--text-color);
}

p {
  color: var(--text-color);
  line-height: 1.5;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: var(--secondary-color);
}

/* Login popup styles */
.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s;
}
.login-popup .popup-content {
  background: #e0f7fa;
  border: 1px solid #b2ebf2;
  color: #00796b;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s;
  animation: float 5s ease-in-out infinite;
}
.login-popup .popup-content:hover {
  background: #b2ebf2;
  transform: translateY(-5px);
}

/* Button styles */
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.1);
}

/* Footer styles */
footer {
  background-color: var(--footer-bg-color);
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
  bottom: 0;
}
footer .social-icon {
  margin: 0 0.5rem;
  color: white;
  display: inline-block;
  transition: color 0.3s;
}
footer .social-icon:hover {
  color: var(--accent-color);
}

/* Media queries */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .home-stats .stat {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .home-stats .stat {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .home-stats .stat {
    width: 45%;
  }
}
/* Keyframes */
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-15px, -10px);
  }
  40% {
    transform: translate(10px, -20px);
  }
  60% {
    transform: translate(-10px, 10px);
  }
  80% {
    transform: translate(15px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/*# sourceMappingURL=styles.css.map */
