@import "https://unpkg.com/leaflet/dist/leaflet.css";

/* Variables */
:root {
  --background-color: #f5f5f5;
  --text-color: #333;
  --primary-color: #3498db;
  --secondary-color: #2980b9;
  --accent-color: #00ffcc;
  --footer-bg-color: #061727;
}

[data-theme="dark"] {
  --background-color: #333;
  --text-color: #f5f5f5;
  --primary-color: #2980b9;
  --secondary-color: #3498db;
  --accent-color: #4fc08d;
  --footer-bg-color: #000;
}

/* General styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

nav {
  background-color: var(--primary-color);
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;

    li {
      margin: 0 1rem;
      border-radius: 20px;

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s, background-color 0.3s;
        padding: 0.5rem 1rem;
        display: block;
        text-align: center;

        &:hover {
          color: var(--primary-color);
          background-color: #fff;
        }

        &:active {
          color: white;
          background-color: var(--secondary-color);
        }
      }
    }
  }
}

/* Content styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  line-height: 1.5;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--secondary-color);
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  button {
    margin: 0 0.5rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: var(--secondary-color);
      transform: scale(1.1);
    }
  }
}

/* Footer */
footer {
  background-color: var(--footer-bg-color);
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
  position: relative;

  .social-icon {
    margin: 0 0.5rem;
    transition: color 0.3s;

    &:hover {
      color: var(--accent-color);
    }
  }
}

/* Popup styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s;

  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;

    h2 {
      font-size: 24px;
      color: var(--footer-bg-color);
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
    }
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-screen {
  animation: fadeIn 1s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Additional styles */
.home-stats .stat,
.map-screen .map-controls button,
.profile-content button,
.vr-content .controls button {
  background-color: var(--accent-color);
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: var(--footer-bg-color);
    color: white;
    transform: scale(1.1);
  }
}

img {
  border-radius: 10px;
}
.login-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--accent-color);
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &.expanded {
    width: 300px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
  }

  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    #loginToggle {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }

    #loginForm {
      display: none;
      flex-direction: column;
      margin-top: 10px;

      &.visible {
        display: flex;
      }

      input {
        margin: 5px 0;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }

      button {
        background: var(--primary-color);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: var(--secondary-color);
        }
      }
    }
  }
}
